!pizza_steak.zip
pizza_steak/
pizza_steak.zip
model.png
testing.py
Untitled1.ipynb
model.png
testing.py
Untitled1.ipynb
pie_test.jpg
pizza_test_2.jpg
pizza_test_3.jpg
pizza_test_4.jpg
steak_test_2.jpg
steak_test_3.jpg
testing_steak/steak_test_1.jpeg
testing_steak/steak_test_2.png
testing_steak/steak_test_3.jpeg
testing_steak/steak_test_4.jpg
testing_steak/steak_test_5.jpg
testing_steak/steak_test_6.jpg
testing_steak/steak_test_7.jpg
testing_steak/steak_test_8.png
testing_steak/steak_test_9.jpeg
testing_steak/steak_test_10.jpeg
testing_steak/steak_test_11.jpg
testing_steak/steak_test_12.jpg
testing_steak/steak_test_13.jpg
testing_steak/steak_test_14.jpg
testing_steak/steak_test_15.jpeg
testing_steak/steak_test_16.jpeg
testing_steak/steak_test_17.jpg
testing_steak/steak_test_19.jpg
testing_steak/steak_test_20.jpg
testing_steak/steak_test_21.jpg
testing_steak/steak_test_22.jpg
testing_steak/steak_test_23.jpg
testing_steak/steak_test_24.png
testing_steak/steak_test_25.jpg
testing_steak/steak_test_26.png
testing_steak/steak_test_27.jpg
testing_steak/steak_test_28.png
testing_steak/steak_test_29.png
testing_steak/steak_test_30.png
testing_steak/steak_test_31.png
testing_steak/steak_test_32.png
testing_steak/steak_test_33.png
testing_steak/steak_test_34.jpg
testing_steak/steak_test_35.jpg
testing_steak/steak_test_36.jpg
testing_steak/steak_test_37.jpg
testing_steak/steak_test_38.jpg
testing_steak/steak_test_39.jpg
testing_steak/steak_test_40.jpg
testing_steak/steak_test_41.jpg
testing_steak/steak_test_42.jpg
testing_steak/steak_test_43.jpg
testing_steak/steak_test_44.jpg
testing_steak/steak_test_45.jpg
testing_steak/steak_test_46.jpg
testing_steak/steak_test_47.jpg
testing_steak/steak_test_48.png
testing_steak/steak_test_49.png
testing_steak/steak_test_50.jpg
testing_steak/steak_test_51.jpg
testing_steak/steak_test_52.jpg
testing_steak/steak_test_53.jpg
testing_steak/steak_test_54.jpg
testing_steak/steak_test_55.jpg
testing_steak/steak_test_56.jpg
testing_steak/steak_test_57.jpg
testing_steak/steak_test_58.jpg
testing_steak/steak_test_59.jpg
testing_steak/steak_test_60.jpg
testing_steak/steak_test_61.jpg
testing_steak/steak_test_62.jpg
testing_steak/steak_test_63.jpg
testing_steak/steak_test_64.jpg
testing_steak/steak_test_65.jpg
testing_steak/steak_test_66.jpg
testing_steak/steak_test_67.jpg
testing_steak/steak_test_68.jpg
testing_steak/steak_test_69.jpg
testing_steak/steak_test_70.jpg
testing_steak/steak_test_71.jpg
testing_steak/steak_test_72.jpg
testing_steak/steak_test_73.jpg
testing_steak/steak_test_74.jpg
testing_steak/steak_test_75.jpg
testing_steak/steak_test_76.jpg
testing_steak/steak_test_77.jpg
testing_steak/steak_test_78.jpg
testing_steak/steak_test_79.jpg
testing_steak/steak_test_80.jpg
testing_steak/steak_test_81.jpg
testing_steak/steak_test_82.jpg
testing_steak/steak_test_83.jpg
testing_steak/steak_test_84.jpg
testing_steak/steak_test_85.jpg
testing_steak/steak_test_86.jpeg
testing_steak/steak_test_87.jpeg
testing_steak/steak_test_88.jpeg
testing_steak/steak_test_89.jpeg
testing_steak/steak_test_90.jpeg
testing_steak/steak_test_91.jpeg
testing_steak/steak_test_92.png
testing_steak/steak_test_93.jpeg
testing_steak/steak_test_94.png
testing_steak/steak_test_95.jpeg
testing_steak/steak_test_96.jpeg
testing_steak/steak_test_97.jpeg
testing_steak/steak_test_98.jpeg
testing_steak/steak_test_99.jpeg
testing_steak/steak_test_100.jpeg
testing_steak/steak_test_101.jpeg
testing_steak/steak_test_102.jpeg
testing_steak/steak_test_103.jpeg
testing_steak/steak_test_104.jpeg
testing_steak/steak_test_105.jpeg
testing_steak/steak_test_106.jpeg
testing_steak/steak_test_107.jpeg
testing_steak/steak_test_108.jpeg
testing_steak/steak_test_109.jpeg
testing_steak/steak_test_110.jpeg
testing_steak/steak_test_111.jpeg
testing_steak/steak_test_112.jpeg
testing_steak/steak_test_113.jpeg
testing_steak/steak_test_114.jpeg
testing_steak/steak_test_115.jpeg
testing_steak/steak_test_116.jpeg
testing_steak/steak_test_117.jpeg
testing_steak/steak_test_118.jpeg
testing_steak/steak_test_119.jpeg
testing_steak/steak_test_120.jpeg
testing_steak/steak_test_121.jpeg
testing_steak/steak_test_122.jpeg
testing_steak/steak_test_123.jpeg
testing_steak/steak_test_124.jpeg
testing_steak/steak_test_125.jpeg
testing_steak/steak_test_126.jpeg
testing_steak/steak_test_127.jpeg
testing_steak/steak_test_128.jpeg
testing_steak/steak_test_129.jpeg
testing_steak/steak_test_130.jpeg
testing_steak/steak_test_131.jpeg
testing_steak/steak_test_132.jpeg
testing_steak/steak_test_133.jpeg
testing_steak/steak_test_134.jpeg
testing_steak/steak_test_135.jpeg
testing_steak/steak_test_136.jpeg
testing_steak/steak_test_137.jpeg
testing_steak/steak_test_138.jpeg
testing_steak/steak_test_139.jpeg
testing_steak/steak_test_140.jpeg
testing_steak/steak_test_141.jpeg
testing_steak/steak_test_142.jpeg
testing_steak/steak_test_143.png
testing_steak/steak_test_144.jpg
testing_steak/steak_test_145.jpg
testing_steak/steak_test_146.jpeg
testing_steak/steak_test_147.png
testing_steak/steak_test_148.jpg
testing_steak/steak_test_149.jpg
testing_steak/steak_test_150.jpg
testing_steak/steak_test_152.jpg
testing_steak/steak_test_153.jpg
testing_steak/steak_test_154.jpg
testing_steak/steak_test_155.jpg
testing_steak/steak_test_156.jpg
testing_steak/steak_test_157.jpg
testing_steak/steak_test_158.jpg
testing_steak/steak_test_159.jpg
testing_steak/steak_test_160.jpg
testing_steak/steak_test_161.jpg
testing_steak/steak_test_162.jpg
testing_steak/steak_test_163.jpg
testing_steak/steak_test_164.jpeg
testing_steak/steak_test_165.jpeg
testing_steak/steak_test_166.jpeg
testing_steak/steak_test_167.jpeg
testing_steak/steak_test_168.png
testing_steak/steak_test_169.png
testing_steak/steak_test_171.jpg
testing_steak/steak_test_172.jpg
testing_steak/steak_test_173.jpg
testing_steak/steak_test_174.jpg
testing_steak/steak_test_175.jpg
testing_steak/steak_test_176.jpg
testing_steak/steak_test_177.jpg
testing_steak/steak_test_178.jpg
testing_steak/steak_test_179.jpg
testing_steak/steak_test_180.jpg
testing_steak/steak_test_181.jpg
testing_steak/steak_test_182.jpg
testing_steak/steak_test_183.jpg
testing_steak/steak_test_184.jpg
testing_steak/steak_test_185.jpg
testing_steak/steak_test_186.jpg
testing_steak/steak_test_187.jpg
testing_steak/steak_test_188.jpg
testing_steak/steak_test_189.jpg
testing_steak/steak_test_190.jpg
testing_steak/steak_test_191.jpg
testing_steak/steak_test_192.jpg
testing_steak/steak_test_193.jpg
testing_steak/steak_test_194.png
testing_steak/steak_test_195.jpg
testing_steak/steak_test_196.jpg
testing_steak/steak_test_197.jpg
testing_steak/steak_test_198.jpg
testing_steak/steak_test_199.jpg
testing_steak/steak_test_200.jpg
testing_steak/steak_test_201.jpg
testing_steak/steak_test_202.jpeg
testing_steak/steak_test_203.png
